.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    margin-top: 20px;
    position: fixed;
    bottom: 0px;
    width: 100vw;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #34AAE6;
}

.footer .social > * {
    margin-right: 30px;
}

.social {
  margin-bottom: 10px;
}

.bg-dark {
   background: #333;
   color: #fff;
}