
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); //text-font pairing alternative
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:wght@700&display=swap');

$header-logo-font: 'Concert One', cursive; 
//$text-font: 'Montserrat', sans-serif;//text-font pairing alternative 
$text-font: 'Work Sans', sans-serif;

/*Brand Colors*/
$brand-color1: #206db1;
$brand-color2: #34aae6;
$brand-color3: #ffffff;

/*Complimentary & Analogous Colors*/
$complementary-color1: #b15520;
$complementary-color2: #e67034;
$complementary-color3: #2a8bcc;
$complementary-color4: #cc622a;
$analogous-color1: #9ebf25;

/*Background Colors & Text Colors*/
$dark-background-color: #1C5C87;
$text-color1: #FFFFFF; //to be used on dark-background-color only 

$light-background-color: #FFFFFF;
$text-color2: #1C5C87; //to be used on light-background-color only 

/*Error & Success Colors*/
$error-color: #B30000; //to be used on light-background-color only 
$success-color: #206db1; //to be used on light-background-color only

/*Disabled/Grey Colors*/
$disabled-color: #595959; //to be used on light-background-color only to represent disabled state 

/*Interaction Colors */
$interactive-color1: #7c9303; //to be used on for input elements 
$interactive-color2: #c0e147; 

$hyperlinks-color1: #7c9303; //to be used on light-background-color
$hyperlinks-color2: #c0e147; //to be used on dark-background-color 

//to be used on buttons & for hover effects 
$btn-color-default: #7c9303; 
$btn-color-lighter1: #8dae14; 
$btn-color-lighter2: #9ebf26;  
$btn-color-lighter3: #afd036;  
$btn-color-lighter4: #c0e147;  

$btn-color-new-default: #206db1;
$btn-color-new-lighter1: #1B9DDE; //to use for hover effect

$btn-text-color: #FFFFFF;

$menu-background-color: #E0EEFB; 