@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:wght@700&display=swap");

$header-logo-font: "Concert One", cursive;
$text-font: "Work Sans", sans-serif;

$brand-color1: #206db1;
$brand-color2: #34aae6;
$brand-color3: #ffffff;

$complementary-color1: #b15520;
$complementary-color2: #e67034;
$complementary-color3: #2a8bcc;
$complementary-color4: #cc622a;
$analogous-color1: #9ebf25;

$dark-background-color: #1c5c87;
$text-color1: #ffffff;

$light-background-color: #ffffff;
$text-color2: #1c5c87;

$error-color: #b30000;
$success-color: #206db1;

$disabled-color: #595959;

$interactive-color1: #7c9303;
$interactive-color2: #c0e147;

$hyperlinks-color1: #7c9303;
$hyperlinks-color2: #c0e147;

$btn-color-default: #7c9303;
$btn-color-lighter1: #8dae14;
$btn-color-lighter2: #9ebf26;
$btn-color-lighter3: #afd036;
$btn-color-lighter4: #c0e147;

$btn-color-new-default: #206db1;
$btn-color-new-lighter1: #1b9dde;

$btn-text-color: #ffffff;
$menu-background-color: #e0eefb;
