@import "variables";
@import "mixins";

* {
  font-family: $text-font;

  /*Global Styles for <li> list items*/
  li {
    list-style-type: none;
  }

  /*Global Styles for <a> hyperlinks*/
  a {
    text-decoration: none;
  }
  a:link {
    color: $btn-color-new-default;
    background-color: transparent;
  }
  a:hover {
    color: $btn-color-new-lighter1 !important;
  }
  a:visited {
    color: $btn-color-new-default;
  }

  /*Global Styles for <button> buttons*/
  outline: none; //this removes unnecessary border around buttons after it's clicked
  button {
    background-color: $btn-color-new-default;
    color: $btn-text-color;
    border: 1px solid $btn-color-new-lighter1;
    border-radius: 8px;
  }

  button:hover {
    background-color: $btn-color-new-lighter1;
    color: $btn-text-color;
  }

  /*Global Styles for <input> field type=text*/
  input[type="text"] {
    padding: 10px;
    border-color: $complementary-color3;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    color: $text-color2;
  }

  /*Global Styles for <input> elements type=radio*/
  input[type="radio"] {
    margin-right: 10px;
  }
  //overlay the radio button input style using :after
  input[type="radio"]:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
  }
  input[type="radio"]:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: $success-color;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
  }

  margin: 0;
  box-sizing: border-box;
}

.App {
  /*CSS Grid to contain all page items*/
  //margin: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:
    1fr
    0.9fr
    7fr
    0.5fr;
  grid-template-areas:
    "nav-bar"
    "search-section"
    "card-list"
    "footer-section";

  .nav-bar {
    //nav
    //background: $complementary-color1;

    /*divides navbar into two columns with a 1 to 3 ratio where nav-list is allowed 3/4 of horizontal space*/
    display: grid;
    grid-template-columns: 2fr 3fr;

    /*adds a thin border separation between navbar & search box*/
    border-bottom-style: solid;
    border-bottom-color: $complementary-color2;
    border-width: thin;

    .nav-logo {
      //header
      //background:orange;

      /*keeps logo in the middle of its container nav-logo*/
      display: flex;
      justify-content: flex-start;
      margin-left: 30px;
    }
    .nav-list {
      //ul
      //background: grey;
      text-align: right;

      /*keeps nav links item/s aligned to the right inside nav-list*/
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: 30px; //<<>>adds a 30px margin to .nav-list container & fill middle gap/visual issue

      .nav-link {
        //use this class within .nav-list to automatically insert new link next to existing link
        //a
        //background: brown;
        //color: $hyperlinks-color1;
        display: inline; //keep nav links next to each other horizontally

        //padding: 10px;
        margin-right: 20px; //<<>>/
        font-size: 20px; //<<>>
      }

      .auth-link {
        margin-right: 20px; 
        font-size: 20px; 
        color: $btn-color-new-default;
        cursor: pointer;
      }

      .auth-link:hover {
        color: $btn-color-new-lighter1 !important;
      } 

      .logout-section {
        display: flex;
            align-items: center;
            justify-content: center;

      }
      .username {
        padding-right: 8px;
        color: $btn-color-new-default
      }
    }
  }

  #search-section {
    //div
    //background: lightblue;

    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center; 

    border-bottom-style: solid;
    border-bottom-color: $complementary-color2;
    border-width: thin;

    .search-bar {
      //div
      //background-color: indigo;

      padding-top: 5px; //<<>>

      .input-field {
        //input
      }
      .search-btn {
        //button
        //font-size: larger;
        margin-left: 10px; //specify margin of 10px to keep a reasonable UI/UX standard
        padding: 10px; //sets a padding of 10px to match search input field's padding
      }
      // .search-err-msg{ //div
      // }
    }
    .search-options {
      //background-color: blue;
      //min-height: 21px !important;
      margin: 5px;
      label {
        //background: indianred;
        margin: 0 5px; //adds space between options
        color: $text-color2;
      }
    }
  }

  .card-list {
    //div
    //background: $complementary-color4;
    overflow-y: auto; //enables vertical scrolling on card-list item & allows footer to remain sticky
    display: grid;
    grid-template-columns: repeat(auto-fill, 380px);
    justify-content: center;

    .card {
      //div
      //background: lightseagreen;
      display: grid;
      max-height: 300px;
      max-width: 380px; //set a width of 430px to each card maintain consistency
      margin: 20px 10px;
      margin-bottom: 10px;
      /*divides card into two sections with the image on the left & card details on the right*/
      grid-template-areas: "card-left card-right";
      padding: 10px;
      border-bottom-style: solid;
      border-bottom-color: $success-color;
      border-width: thin;

      .card-left {
        //background: palevioletred;
        grid-area: card-left; //identifer for the left side of card & its img item
        margin: 5px 15px; //applies a consistent margin (left/right) to card items inside card-right <480px

        .card-img {
          //img
          //background: greenyellow;
        }
      }

      .card-right {
        //background: powderblue;
        grid-area: card-right; //identifier for the right side of card & its items
        margin: 5px 15px; //applies a consistent margin (left/right) to card items inside card-right <480px
        color: $text-color2;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;

        .card-title {
          //h1
          //background: cyan;
          font-size: 20px; //<<>>

          /*handles text overflow for long titles & limit title information to 3 lines to prevent display issues within card*/
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
        }
        .card-subtitle {
          //h2
          //background: grey;
          font-size: 15px; //<<>>

          /*handles text overflow for long subtitles & limit subtitle information to 2 lines to prevent display issues within card*/
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
        .card-authors {
          //p
          // background: orange;
          font-size: 10px; //<<>>

          /*handles text overflow for long list of author names too long & limit author information to 2 lines to prevent display issues within card*/
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
        .card-publisher {
          //p
          //background: lightcoral;
          font-size: 10px; //<<>>
        }
        .card-btn {
          //background: purple;
          padding: 6px;
        }
      }
    }
  }

  /*Styles for No more results! message*/
  .scroll-end-message {
    text-align: center;
    color: $complementary-color2;
    margin: auto;
  }

  .footer-section {
    //footer
    //background: $dark-background-color;

    /*aligns footer items in the middle of footer-section*/
    display: flex;
    justify-content: center;
    flex-direction: column;

    border-top-style: solid;
    border-top-color: $complementary-color2;
    border-width: thin;

    .footer-social {
      //background: grey;

      text-align: center; //keeps social media icons/links centered by default

      margin-top: 5px; //<<>> matches margin space set on .footer-note

      .footer-link {
        //a
        //background: green;
        font-size: 10px; //<<>>
        margin: 0 5px; //<<>> adds 5px margin between icons
      }
      .footer-link:hover {
        //color: $hyperlinks-color2 !important;
      }
    }

    .footer-note {
      //p
      //background: greenyellow;
      color: $text-color2;
      text-align: center;

      font-size: 10px; //<<>>
      margin: 5px 0; //<<>> matches 5px margin set on .footer-social's margin-top
    }
  }
}

/*Additional Styles for modal container*/
.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: smaller;
  padding: 15px 10px;
  border-radius: 8px;
  max-height: calc(100vh - 210px);
  overflow-y: auto;

  h3 {
    color: $text-color2;
    text-align: center;
    margin-bottom: 5px;
  }
  span {
    color: $text-color2;
    display: block;
    padding-top: 10px;
  }
  #modal-description {
    font-size: 12px;
  }
  p {
    color: $text-color2;
    text-align: center;
    padding: 5px 0;
  }
}

/*Styles for loading message*/
.loading-msg {
  text-align: center;
  color: $complementary-color2;
  margin: auto;
}

// /* Extra small (xs) 320px — 480px: Mobile devices*/
// @media (min-width: 480px) { /* ... */ }

// /* Small (sm) 481px — 768px: iPads, Tablets*/
// @media (min-width: 640px) { /* ... */ }

// /* Medium (md) 769px — 1024px: Small screens, laptops*/
//  @media (min-width: 700px) {  //  }

// /* Large (lg) 1025px — 1200px: Desktops, large screens*/
// @media (min-width: 1024px) { /* ... */ }

/* Extra Large (xl) 1201px and more —  Extra large screens, TV*/
//@media (min-width: 1280px) { // }
